<!DOCTYPE html>
<html>
  <head>
    <title>Channel '{{ channel }}'</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Channel '{{ channel }}'</h2>
    <form id="input-form">
      <input id="input-message" type="text" placeholder="Enter your message here" disabled />
      <button type="submit">Send</button>
    </form>

    <h3>Received messages:</h3>
    <div id="received-messages"></div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- WARNING: in production copy and use https://github.com/joewalnes/reconnecting-websocket -->
    <script type="text/javascript" src="//rawgit.com/joewalnes/reconnecting-websocket/master/reconnecting-websocket.js"></script>
    <script type="text/javascript">
$( document ).ready(function() {

    var socket = new ReconnectingWebSocket("ws://" + location.host + "/{{ channel }}");
    socket.onmessage = function(message) {
        $("#received-messages").append("<div>" + message.data + "</div>");
    };
    $("#input-form").on("submit", function(event) {
        event.preventDefault();
        var text = $("#input-message").val();
        socket.send(text);
        $("#input-message").val("");
    });
    $("#input-message").prop('disabled', false).focus();

});
    </script>
  </body>
</html>
