<!DOCTYPE html>
<html>
  <head>
    <title>WebSockets Chat</title>
  </head>
  <body>
    <h1>Python WebSockets Chat</h1>
    <form id="input-form">
      <input id="input-channel" type="text" placeholder="Enter room name" autofocus />
      <button type="submit">Join</button>
    </form>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
$("#input-form").on("submit", function(event) {
    event.preventDefault();
    var channel = $("#input-channel").val();
    var url = '//' + location.host + '/' + channel;
    window.location.href = url;
});
    </script>
  </body>
</html>
