<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room '{{ channel }}'</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Welcome to room '{{ channel }}'</h2>
    <form id="input-form">
      <input id="input-text" type="text" placeholder="Enter your message here" disabled />
      <button type="submit">Send</button>
    </form>

    <h2>Chat Log</h2>
    <div id="chat-text"></div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- WARNING: in production copy and use https://github.com/joewalnes/reconnecting-websocket -->
    <script type="text/javascript" src="//rawgit.com/joewalnes/reconnecting-websocket/master/reconnecting-websocket.js"></script>
    <script type="text/javascript">
$( document ).ready(function() {

    var socket = new ReconnectingWebSocket("ws://" + location.host + "/{{ channel }}");

    socket.onmessage = function(message) {
        var data = JSON.parse(message.data);
        console.log(data);
        $("#chat-text").append("<div>" + data.text + "</div>");
    };

    $("#input-form").on("submit", function(event) {
        event.preventDefault();
        var text   = $("#input-text").val();
        socket.send(JSON.stringify({text: text}));
        $("#input-text").val("");
    });

    $("#input-text").prop('disabled', false).focus();

});
    </script>
  </body>
</html>
